@font-face {
    font-family: 'b titr';
    src: url(../../Code/font/persian/BTitrBd.ttf);
}
@font-face {
    font-family: 'b nazanin';
    src: url(../../Code/font/persian/BNazanin.ttf);
}
body {
    margin: 0;
    background-color: rgb(230, 241, 255);
}
.menu {
    width: 100%;
    padding: 15px;
    background-color: rgb(0, 115, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px #555;
}
.menu > a {
    margin: 10px;
    width: 150px;
    height: 70px;
    color: rgb(0, 115, 255);
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(168, 207, 255);
    cursor: pointer;
    transition: scale 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'b titr';
    box-sizing: border-box;
}
.menu > a:hover {
    scale: 1.05;
}
.menu > a:nth-child(1) {
    border: 5px solid blue;
}
.name {
    font: 30px;
}
.information {
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-evenly;
}
.information > div {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'b titr';
    text-align: right;
    margin: 10px 0;
}
.information > div > div {
    margin: 10px 0;
}
.image {
    width: 150px;
    border-radius: 10px;
    transition: scale 0.2s;
}
.image:hover {
    scale: 1.04;
}
.game, .github-address {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    transition: scale 0.2s;
}
.game:hover, .github-address:hover {
    scale: 1.04;
}
.game {
    align-items: center;
}
.game > div {
    font-size: 30px;
    font-family: 'b koodak';
}
.github-address {
    flex-direction: row;
}
.github-address > img {
    width: 50px;
    margin-right: 5px;
}
.github-address > div {
    height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: arial;
    font-weight: bold;
}